				<div class="table-responsive">
					<table class="table table-bordered table-hover text-center">
						<thead class="bg-gray">
							<tr>
								<th class="text-center">Events</th>
								<th class="text-center">Dates</th>
							</tr>
						</thead>
						<tbody>
							<!--
							<tr>
								<td>Tutorial Proposal Submission</td>
								<td>{% if site.data.dates.tutorial_proposal_submission.old!="" %}<del>{{site.data.dates.tutorial_proposal_submission.old}}</del> {% endif %}{% if site.data.dates.tutorial_proposal_submission.current %}{{site.data.dates.tutorial_proposal_submission.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Abstract Submission for Research Track</td>
								<td>{% if site.data.dates.abstract_submission.old!="" %}<del>{{site.data.dates.abstract_submission.old}}</del> {% endif %}{% if site.data.dates.abstract_submission.current %}{{site.data.dates.abstract_submission.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Research and Industry Paper Submission</td>
								<td>{% if site.data.dates.research_submission.old!="" %}<del>{{site.data.dates.research_submission.old}}</del> {% endif %}{% if site.data.dates.research_submission.current %}{{site.data.dates.research_submission.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Grand Challenge Solution Submission</td>
								<td>{% if site.data.dates.grand_challenge_submission.old!="" %}<del>{{site.data.dates.grand_challenge_submission.old}}</del> {% endif %}{% if site.data.dates.grand_challenge_submission.current %}{{site.data.dates.grand_challenge_submission.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Author Notification Industry Track</td>
								<td>{% if site.data.dates.industry_author_notification.old!="" %}<del>{{site.data.dates.industry_author_notification.old}}</del> {% endif %}{% if site.data.dates.industry_author_notification.current %}{{site.data.dates.industry_author_notification.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Author Notification Research Track</td>
								<td>{% if site.data.dates.research_author_notification.old!="" %}<del>{{site.data.dates.research_author_notification.old}}</del> {% endif %}{% if site.data.dates.research_author_notification.current %}{{site.data.dates.research_author_notification.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Doctoral Symposium Submission</td>
								<td>{% if site.data.dates.doctoral_symposium_submission.old!="" %}<del>{{site.data.dates.doctoral_symposium_submission.old}}</del> {% endif %}{% if site.data.dates.doctoral_symposium_submission.current %}{{site.data.dates.doctoral_symposium_submission.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Poster &amp; Demo Submission</td>
								<td>{% if site.data.dates.poster_demo_submission.old!="" %}<del>{{site.data.dates.poster_demo_submission.old}}</del> {% endif %}{% if site.data.dates.poster_demo_submission.current %}{{site.data.dates.poster_demo_submission.current}}{% else %}tba{% endif %}</td>
							</tr>

							<tr>
								<td>Camera Ready for All Tracks</td>
								<td>{% if site.data.dates.camera_ready.old!="" %}<del>{{site.data.dates.camera_ready.old}}</del> {% endif %}{% if site.data.dates.camera_ready.current %}{{site.data.dates.camera_ready.current}}{% else %}tba{% endif %}</td>
							</tr>
							-->
							<tr>
								<td>Conference</td>
								<td>{{site.data.dates.conference_dates}}</td>
							</tr>

						</tbody>
					</table>
				</div>