			<div class="col-md-3 col-sm-12">
				<h3 class="font-weight-regular mb-20" style="display: inline-block;">{% unless include.show_table==0 %}Important Dates{% endunless %}</h3>
				{% unless include.show_table==0 %} {% include dates_table.html %} {% endunless %}

				<div class="twitter">
					<a class="twitter-timeline" href="https://twitter.com/ACM_DEBS?lang=en" data-height="390" data-chrome="nofooter" data-link-color="#55acee" data-border-color="#DCDCDC">A Twitter List by TwitterDev</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

			</div>